@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

.Content {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
    color: white;
}

.Content_Inner {
    padding-top: 80px;
    width: 500px;
    height: 400px;
    text-align: left;

    gap: 20px;

}

.Content_Inner h1 {
    font-size: 65px;
    font-family: Roboto;
    font-weight: 600;
}


.Content_Inner p {
    line-height: 25px;
    font-size: 15px;
    font-family: Roboto;

}

.Group_1 {
    width: 500px;
    height: 500px;
    /* animation: rotate 5s linear infinite; */
    /* 5s for rotation duration */
}

.Destop {
    width: 650px;
    height: 435px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.Inner_Box {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid orangered;
    border-radius: 50px;
    background-color: #161515;

}

.Inner_Box div {
    color: white;
    padding: 17px;
    text-align: center;
    width: 24%;
    background-color: orangered;
    border-radius: 50px;
}

.Inner_Box p {
    background-color: #161515;

}

.Discover {
    display: flex;
    justify-content: space-around;
    text-align: center !important;
    margin: 5px 80px 80px 130px;
    color: white;
}

.Discover_Inner {
    text-align: left;
    padding-top: 80px;
    width: 700px;
    height: 400px;
    gap: 20px;

}

.Discover_Inner h1 {
    font-size: 65px;
    font-family: Roboto;
}

.Discover_Inner p {
    line-height: 30px;
    font-size: 17px;
    font-family: Roboto;

}

.dsc {
    margin-bottom: -40px;
    font-size: 25px;
}

.st_div {
    display: block;
    margin: auto;
}

.Student {
    display: block;
    margin: auto;
    width: 300px;
    height: 350px;
}

.Inner_Box_2 {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    /* border: 1px solid rgb(230, 109, 3); */
    border-radius: 50px;
}

.Inner_Box_2 p {
    margin-right: 10px;
    font-size: 25px;

}

.About {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 120px;
    color: white;
}

.About_Inner {
    text-align: left;
    padding-top: 80px;
    width: 600px;
    height: 400px;

}

.abouth1 {
    margin-bottom: 10px !important;
    font-size: 70px;

}

.org {
    color: orangered;
}

.abt {
    margin-bottom: -40px;
    font-size: 20px;

}

.Feed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 80%;
    margin: auto;
}

.Feed_Inner {
    text-align: left;

}

.Arrow {
    color: orangered;
    margin: 10px;
    border: 1px solid orangered;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.Features {
    color: white;
    display: block;
    text-align: center;
    margin-top: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Always three columns */
    gap: 20px;
    padding: 20px;
    margin: 100px;
}

.grid-item {

    border-radius: 8px;

    text-align: center;
}

.feature {
    color: white;
    text-align: left;
}

.feature_img {
    width: 370px;
    height: 180px;
}

.feature_name {
    margin: 5px;
}

.feature_p {
    margin: 5px;
}

.Faq_outr {
    margin: 30px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.faq_h1 {
    color: white;
    text-align: center;
    margin: 80px;
}

.started {
    margin-top: 40px;
    background-color: rgb(65, 59, 59);
    background-image: linear-gradient(-401deg, rgb(65, 59, 59), rgb(46 23 14));
    width: 100%;
    height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Started_main {
    text-align: center;


}

.Started_main h1 {
    font-size: 45px;
}

.Started_main p {
    font-size: 25px;
}

.Started_main div {
    background-color: orangered;
    border-radius: 10px;
    width: 25%;
    text-align: center;
    margin: auto;
    padding: 17px;
    box-shadow: 0px 2px 20px -7px;
}

.about_p {
    font-size: 22px;
}

@media screen and (max-width: 1025px) {
    .Content {
        display: inline;
        flex-direction: column;

    }

    .Content_Inner {
        position: relative;
        margin: auto;
        margin-bottom: 80px;
    }

    .Inner_Box {
        width: auto;
        margin: auto;
    }

    .Discover {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center !important;
        margin: 5px 80px 80px 130px;
        color: white;
    }

    .st_div {
        margin-top: 150px;
    }

    .About {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        margin: 120px;
        color: white;
    }

    .Feed {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        width: 80%;
        margin: auto;
        margin-bottom: 50px;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 40px;
        /* Two columns for smaller screens */
    }

    .feature_img {
        width: 350px;
        height: 200px
    }

}

@media screen and (max-width: 750px) {
    .Content_Inner {
        padding-top: 40px;
        width: 320px;
        height: 500px;
        gap: 20px;
    }

    .Inner_Box div {
        color: white;
        padding: 20px;
        text-align: center;
        width: 34%;
        background-color: orangered;
        border-radius: 50px;
    }

    .Group_1 {
        width: 400px;
        height: 400px;
        margin-top: 50px;
    }

    .Discover {
        display: flex;
        flex-direction: column;
    }

    .Discover_Inner {
        text-align: left;
        padding-top: 80px;
        width: 320px;
        height: 400px;
        /* gap: 20px; */
        margin-bottom: 70px;


    }

    .About {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        margin-top: 120px;
        color: white;
    }

    .About_Inner {
        font-family: Roboto !important;

        margin: auto;
        text-align: left;
        padding-top: 80px;
        width: 430px;
        height: 400px;

    }



    .Destop {
        margin-top: 150px;
        width: 400px;
        height: 300px;
    }

    .Feed {
        display: flex;
        flex-direction: column;
    }

    .Arrow {

        padding: 10px;

    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        /* Two columns for smaller screens */
    }

    .feature_img {
        width: 300px;
        height: 150px
    }

    .Student {
        display: block;
        margin-top: 250px;
        /* margin: auto; */
        width: 300px;
        height: 350px;
    }

}

@media screen and (max-width: 450px) {
    .Content_Inner {
        padding-top: 40px;
        width: 300px;
        height: 500px;
        gap: 20px;
    }

    .Group_1 {
        margin-top: 70px;
        width: 250px;
        height: 250px;
    }

    .Inner_Box {
        display: flex;

        width: 100%;
        margin: 5px 5px 5px 5px;

    }

    .Inner_Box div {
        color: white;
        padding: 20px;
        text-align: center;
        width: 34%;
        background-color: orangered;
        border-radius: 50px;
    }

    .Content_Inner p {
        margin: 5px 5px 5px 5px;
    }

    .Inner_Box div {
        margin: 5px 5px 5px 5px;

    }

    .Student {
        display: block;
        margin-top: 20px;
        /* margin: auto; */
        width: 250px;
        height: 300px;
    }

    .Discover {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center !important;
        margin: 5px 6px 11px 28px;
        color: white;
    }

    .Discover_Inner {
        text-align: left;
        padding-top: 80px;
        width: 100%;
        height: fit-content;


    }

    .Discover_Inner h1 {
        font-size: 40px;

    }

    .dsc {
        margin-bottom: -20px;
        font-size: 15px;
    }
    .Destop {
        margin-top: 150px;
        width: 350px;
        height: 300px;
    }


    .st_div {
        margin-top: 15px;
    }

    .About_Inner {
        margin: auto;
        text-align: left;
        padding-left: 40px;
        width: 100%;
        height: fit-content;
    }

    .about_p {
        font-size: 15px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        /* One column for very small screens */
    }

    .abt {
        margin-bottom: 17px;
        font-size: 16px;
    }

    .About {
        margin: 0;
        width: 100%;
        height: fit-content;
    }

    .abouth1 {
        margin-bottom: 0px !important;
        font-size: 44px;
    }

}